body {
    position: relative;
}

footer a {
    text-decoration: none;
    color: rgb(152, 168, 189);
}

footer a:hover {
    color: rgb(125, 139, 156);
}
.centeralign {
    text-align: center;
}

h1 {
    font-size: 3.25em;
}

p {
    color: rgb(152, 168, 189);
}

.b2 {
    background-color: #FBFCFE;
}

.b3 {
    padding-right: 5rem;
    padding-top: 5rem;
}

.b4 {
    background-color: #FBFCFE;
}

.padel {
    background-color: white;
    border-radius: 10px;
    padding-left: 3rem;
    padding-bottom: 3rem;
    padding-right: 3rem;
    padding-top: 3rem;
    transition: 0.3s;
}

.padel:hover {
    box-shadow: 0px 0px 15px lightgray;
}

.z-index-1 {
    z-index: 1;
}

.z-index-10 {
    z-index: 10;
}

.banner {
    position: absolute;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

button, button:active,
button:focus, input {
    outline: none;
}

.navbutton {
    background-color: transparent;
    border: none;
    text-align: center;
    width: 100px;
    height: 40px;
}

.link {
    text-decoration: none;
    position: relative;
    color: black;
}

.link:before{
    position: absolute;
    bottom: -10px;
    content: " ";
    border-bottom: 4px solid rgb(3, 52, 99);
    transform: scale(0,1);
    width:100%;
    transition: transform 0.3s;
}

.link:hover:before{
    transform: scale(1,1);
}

.getbutton {
    background-color: dodgerblue;
    color: white;
    border-radius: 9px;
    font-size: 17px;
    height: 55px;
    width: 180px;
    border-color: transparent;
    font-weight: lighter;
    transition-duration: 0.3s;
}

.getbutton:hover {
    background-color: rgb(19, 92, 165);
}

