* {
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    position: relative;
}

footer a {
    text-decoration: none;
    color: rgb(152, 168, 189);
}

footer a:hover {
    color: rgb(125, 139, 156);
}
.centeralign {
    text-align: center;
}

h1 {
    font-size: 3.25em;
    font-weight: 500;
}

p {
    color: rgb(152, 168, 189);
}

.b1 {
    position: relative;
    z-index: 1;
}

.b2 {
    background-color: #FBFCFE;
}

.b3 {
    padding-right: 5rem;
    padding-top: 5rem;
}

.b4 {
    background-image: url("/styles/banner.svg");
}

.b5 {
    padding-top: 5rem;
}

.b6 {
    background-color: #FBFCFE;
}

.b7 {
    background-image: url("/styles/banner.svg");
    margin: 0;
}

.padel {
    background-color: white;
    border-radius: 10px;
    padding-left: 3rem;
    padding-bottom: 3rem;
    padding-right: 3rem;
    padding-top: 3rem;
    transition: 0.3s;
}

.padelcarousel {
    background-color: white;
    box-shadow: 0px 0px 15px lightgray;
    border-radius: 10px;
    padding-left: 3rem;
    padding-bottom: 3rem;
    padding-right: 3rem;
    padding-top: 3rem;
    transition: 0.3s;
}

.padel:hover {
    box-shadow: 0px 0px 15px lightgray;
}

.reqblock {
    border-radius: 10px;
    margin-top: 1em;
    transition: 0.3s;
    padding-top: 1rem
}

.reqblock:hover {
    box-shadow: 0px 0px 15px lightgray;
}

/* Query for the image which doesn't otherwise work */
@media only screen and (max-width: 320px) {
    .imgting {
        margin-top: 100%;
    }
}

@media only screen and (min-width: 375px) {
    .imgting {
        margin-top: 80%;
    }
}

@media only screen and (min-width: 425px) {
    .imgting {
        margin-top: 40%;
    }
}

@media only screen and (min-width: 768px) {
    .imgting {
        margin-top: 15%;
    }
}

@media only screen and (min-width: 1024px) {
    .imgting {
        margin-top: 10%;
    }
}

@media only screen and (min-width: 1440px) {
    .imgting {
        margin-top: -5%;
    }
}

.imgting {
    height: 75px;
}

button, button:active,
button:focus, input {
    outline: none;
}

.navbutton {
    background-color: transparent;
    border: none;
    text-align: center;
    height: 40px;
}

.navhead {
    position: relative;
    z-index: 1;
}

.link {
    text-decoration: none;
    position: relative;
    color: black;
}

.link:hover {
    color: black;
}

.link:before{
    position: absolute;
    bottom: -10px;
    content: " ";
    border-bottom: 4px solid rgb(7, 255, 212);
    transform: scale(0,1);
    width:100%;
    transition: transform 0.3s;
}

.link:hover:before{
    transform: scale(1,1);
}

.orange {
    background-color: #f9d472;
}

.pinkish {
    background-color: #f97297;
}

.purplelish {
    background-color: #9172f9;
}

.diamond {
    background-color: #72f9d4;
}

.getbutton {
  --notchSize: 12px;

    color: black;
    border-radius: 0px;
    border-color: transparent;
    font-size: 17px;
    height: 55px;
    width: 180px;
    font-weight: normal;
  
  clip-path: 
    polygon(
      0% var(--notchSize), 
      var(--notchSize) 0%, 
      calc(100% - var(--notchSize)) 0%, 
      100% var(--notchSize), 
      100% calc(100% - var(--notchSize)), 
      calc(100% - var(--notchSize)) 100%, 
      var(--notchSize) 100%, 
      0% calc(100% - var(--notchSize))
    );
}

.footerdiv {
    width: 170px;
    text-align: center;
}

.flink {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.flink:hover {
    color: white;
}

.modal-backdrop {
    background-color: white;
    
}

.modal-backdrop.show {
    opacity: 100%;
}

.carousel .carousel-indicators li {
    background-color: #fff;
    background-color: rgba(70, 70, 70, 0.25);
}
  
.carousel .carousel-indicators .active {
    background-color: #444;
}



